color-primario = #dc090f
color-secundario = #fafafa
color-youtube = #8f3434
color-fuente = #767676
color-bordes = #e5e5e5
color-footer = #232323
radio = 16px
radio-interno = 8px

body
    background-color rgb(255, 255, 255)
    padding-inline 80px
    margin 0
    font-family Arial, Helvetica, sans-serif
h2
    color color-primario
    text-align center
    margin-block 40px
/* Barra de navegación */
.nav-head
    position fixed
    top 0
    left 0
    width 100%
    z-index 1000
    .info-busqueda
        display: flex; 
        background-color: color-primario 
        width 100%
        height 50px
        align-items center
        gap 45px
        list-style-type: none;
        .menu
                display: flex;
                align-items: center
                gap: 50px
                list-style-type none
                width 50%
            li
                display: inline-block; 
                margin-left: 5%; 
                padding: 0; 
                font-size: 15px; 
                list-style: none;
                a
                    text-decoration none
                    color color-secundario
        #bar-busqueda
            color: color-primario
            margin-left 40%
            margin-right 80px
            height 30px
            width 17%
            border-radius 2px
            border 0
            padding-left 10px  
    .navbar
        display flex
        align-items center
        justify-content space-between
        padding: 10px 5%
        height: 90px
        background-color color-secundario
        border-bottom 3px solid color-primario
        .logo-cruz
            display flex
            align-items center
            padding 5px
            border-radius: 5px
            img
                height 90px
        .menu-container
            display flex
            flex-direction column
            align-items: flex-end
            list-style-type none
            #btn-donar
                border-radius 20px
                border none
                background-color color-primario
                color color-secundario
                padding 8px 20px
                font-weight bold
                font-size 17px
                cursor pointer
                margin-bottom 10px
                width 20%
                li
                    a
                        text-decoration none
                        color color-secundario
                        &:hover
                            color color-fuente

            .menu
                display: flex;
                align-items: center
                gap: 45px
                list-style-type none

                li
                    list-style-type: none;

                a
                    text-decoration none
                    font-size 17px
                    font-weight bold
                    color color-fuente
                    &:hover
                        color color-primario
/* Contenido */
.cont-img-main
    margin-top 165px
    display: flex
    justify-content: center
    width 100%
    height 450px
    background-color red
    overflow: hidden; 
    #slider
        width 100%
        height 100%

/* Servicios */
.servicios
    display flex
    flex-direction row
    align-items center
    text-align center
    h2
        margin-bottom 20px
    .servicios
    display flex
    flex-direction row
    align-items center
    text-align center
    h2
        margin-bottom 20px
    .cont-servicios
        justify-content center
        align-items center
        width 400px
        height 300px
        border-radius radio
        margin 0 20px
        background-color #f9f9f9
        p
            color color-primario
            font-weight: bold
        h3
            a
                text-decoration none
                color color-primario
                font-weight bold
                &:hover
                    color color-fuente
        #serv-img
            background-color black
            border-radius 10px
            margin 10px auto
            width 90%
            height 220px
            display flex
            justify-content center
            align-items center
            overflow hidden
            img
                width 100%
                height 100%
                object-fit cover

/*Ultimas Noticias*/
.contenedor-np
    display flex
    width 100%
    height 450px
    .noticias
        display grid
        grid-template-columns 50% 50%
        gap 10px
        width 70%
        padding 10px
        .ultima-noticia
            border-radius radio
            grid-column 1 / 2
            height: 100%
            color color-fuente
            width 95%
            background-color color-secundario
            h3
                margin-left 15px
                a
                    text-decoration none
                    color color-primario
            p
                margin-left 15px
                display: -webkit-box;
                -webkit-line-clamp: 3; 
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                color color-fuente
            #not-img-nueva
                background-color rgb(0, 0, 0)
                margin 10px auto
                width 100%
                height 300px
                border-radius radio
                overflow: hidden;
                img
                    width: 100%;
                    height: 100%;
                    border-radius radio-interno
        .cont-noticias
            align-content center
            .li-noticias
                background-color color-secundario
                border-radius radio
                color color-fuente
                margin 10px
                padding 10px
                box-sizing border-box

                #not-img
                    background-color black
                    border-radius radio
                    margin 10px auto
                    width 100%
                    height 120px
                    img
                        width 100%
                        height 100%
                        border-radius radio-interno
                    h3
                        margin-left 10px
                        
                        a
                            text-decoration none
                            color color-primario

.preguntas
    display flex
    flex-direction column
    width 30%
    justify-content: center
    align-items: center
    h3
        color color-primario
    ul
        list-style-type none
        padding 0
        border: 2px solid color-bordes
        border-radius: radio
        width: 90%
        height 100%
        margin-bottom 40px
        text-align center
        li
            border-bottom 1px solid color-bordes
            padding 15px 0  
            a  
                text-decoration none
                font-weight bold
                color color-fuente
                &:hover
                    color color-primario

/* Ultimas campañas */
.campanas
    display flex
    flex-direction row
    align-items center
    text-align center
    h2
        margin-bottom 20px
    .cont-campanas
        display flex
        justify-content center
        align-items center
        width 590px
        height 500px
        border-radius radio
        margin 0 10px
        box-shadow 0px 4px 6px rgba(0, 0, 0, 0.1)
        background-color color-secundario
        overflow hidden
        .camp_img
            width 100%
            height 100%
            display flex
            justify-content center
            align-items center
            overflow hidden
            img
                width 100%
                height 100%
                object-fit cover

/* Youtube */
.yt-seccion
    display flex
    flex-wrap nowrap 
    justify-content space-between
    background-color color-youtube
    color color-secundario
    height 500px
    margin-top 50px
    margin-inline -80px

    #cont-video 
        width 50%
        text-align: center 
        position: relative
        #video
            height 43%
            width 45%
            background-color: #ffffff
            position absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)     
    #desc-video 
        width 50%
        padding 1rem
        text-align center
        h3
            margin-block 50px
            font-size: 25px
        p
            text-align justify
            margin-inline 15%
            margin-block: 100px
            font-size: 25px
        #sub-boton
            background-color color-secundario
            color color-fuente
            border none
            border-radius 5px
            width 120px
            height 40px
            font-weight bold
            font-size 15px
            &:hover
                color color-primario

/*Hisotias de Vida*/
.hist-vida 
    display flex                
    gap 70px

    .historia
        width 50%
        display: grid
        grid-template-columns repeat(4, 1fr)
        grid-template-rows: 100px 200px 100px
        justify-content center
        gap 1em   
        height 400px

        figure
            background-color: brown
            border-radius radio
            grid-column 1 / 3
            grid-row 2 / 3
            z-index 2
            margin 0
            padding 0
            overflow hidden
            img
                width 100%
                height 100%
                object-fit cover

        .contenido
            background-color color-secundario
            text-align justify
            box-shadow 0px 4px 6px rgba(0, 0, 0, 0.1)
            border-radius radio
            grid-column 2 / 5
            grid-row 1 / 4
            display flex
            align-items center
            article
                width 100%
                margin-left 35%
                margin-right 25px
                h2
                    text-align left
                    margin-bottom 0.5em
                    a
                        text-decoration none
                        color color-primario
                p
                    font-size 14px
                    color color-fuente

/* Ubicación */
.ubicacion
    display flex
    .mapa
        margin 10px
        width: 70%
        height 350px
        border-radius radio
        overflow hidden
        img
            width 100%
            height 100%
            object-fit cover

    .direccion
        width 30%
        padding 15px
        justify-content: center
        align-items center
        margin 10px auto
        box-sizing border-box
        height 350px 
        #dir
            background-color color-secundario
            box-shadow 0px 4px 10px rgba(0, 0, 0, 0.2)
            border-radius radio
            width 100% 
            padding 10px
            margin-block 20px
            box-sizing border-box 
            h3
                color color-primario
                margin-bottom: 10px 

            p
                margin: 1px 0 

.footer
    background-color color-footer
    position absolute 
    left 0 
    right: 0
    display flex
    justify-content: space-between
    align-items: center
    height 90px
    color color-secundario 
    padding 10px
    margin-top 20px

    .izquierda
        text-align: center; 
        width 50%
        p
            margin 0
    .derecha
        text-align center 
        width: 50%
        p
            margin: 0 

/* PAGE-NOTICIA */
.pg-noticia
    margin-top 180px
    margin-bottom 50px
    text-align left
    a
        text-decoration none
    h3
        color color-primario
        font-size 25px
    
    .noticias-container
        display grid
        grid-template-columns repeat(2, 1fr)
        grid-template-rows repeat(2, auto) 
        gap 20px
        max-width 100%
        margin 0 auto
        .noti
            padding 20px
            background-color color-secundario
            border-radius radio
            text-align left
            box-shadow 0px 4px 10px rgba(0, 0, 0, 0.2);
            p
                width: 100%; 
                display: -webkit-box;
                -webkit-line-clamp: 3; 
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                color color-fuente
        figure
            background-color color-primario
            border-radius radio-interno
            height 320px
            margin 0
            img
                width 100%
                height 320px
                display block
                border-radius radio-interno
        h2
            color color-primario
            text-align left
            padding 0
            margin 0
            margin-top 1em
            margin-bottom 0.5em
        span
            font-size 10px
            color color-fuente
    .cursos
        display grid
        grid-template-columns: repeat(3, 1fr);
        gap 20px
        .contenedor-cursos
            display contents
            ul
                background-color white
                padding 10px
                list-style none
                text-align center
                margin 0

/* Noticia Individual */
.cont-img-main-not
    margin-top 163px
    display: flex
    justify-content: center
    width 100%
    height 450px
    #main-img-not
        width 100%
        overflow hidden
        img
            width 100%
            height 100%
            object-fit cover

.noticia-individual
    div
        margin-top 50px
        margin-bottom 70px
    h2
        text-align left
        margin-bottom 0.2em
    span
        font-size 13px
        color color-fuente
        margin-bottom 2em
    p
        color color-fuente
        margin-block 1em

/* conocenos */
.conocenos
    
    h2
        text-align left
        margin-bottom 1em
    
    p
        font-size 15px
        margin-bottom 1em
        color color-fuente

.mision-vision
    margin-bottom 50px
    .container-mv
        display grid
        grid-template-columns repeat(2, 1fr)
        grid-template-rows repeat(2, auto) 
        gap 20px
        max-width 100%
        margin 0 auto

        .cont
            padding 20px
            background-color color-secundario
            border-radius radio
            text-align left


            p
                width 100%
                color color-fuente

        figure
            background-color color-primario
            border-radius radio-interno
            height 100%
            margin 0
            
            img
                width 100%
                height 100%
                display block
                border-radius radio-interno
            
        h2
            color color-primario
            text-align left
            padding 0
            margin 0
            margin-top 1em
            margin-bottom 0.5em