body {
  background-color: #fff;
  padding-inline: 80px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  color: #dc090f;
  text-align: center;
  margin-block: 40px;
}
/* Barra de navegación */
.info-busqueda {
  display: flex;
  background-color: #dc090f;
  width: 100%;
  height: 50px;
  align-items: center;
}
.info-busqueda p {
  color: #fafafa;
  margin-left: 40px;
}
.info-busqueda #bar-busqueda {
  color: #f00;
}
.navbar {
  height: 100px;
  background-color: #fafafa;
  border-bottom: 2px solid #dc090f;
}
.navbar #btn-donar {
  border-radius: 20px;
  border: none;
  background-color: #dc090f;
  color: #fafafa;
  padding: 5px;
  width: 100px;
  font-weight: bold;
}
/* Contenido */
.cont-img-main {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 500px;
}
.cont-img-main #main-img {
  background-color: #000;
  width: 100%;
}
/* Servicios */
.servicios {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.servicios h2 {
  margin-buttom: 20px;
}
.servicios .cont-servicios {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 300px;
  border-radius: 10px;
  margin: 0 20px;
  background-color: #f9f9f9;
}
/*Ultimas Noticias*/
.contenedor-np {
  display: flex;
  width: 100%;
  height: 450px;
  border: 1px solid #f00;
}
.contenedor-np .noticias {
  border: 1px solid #f00;
  width: 70%;
}
.contenedor-np .noticias padding 10px #ultima-noticia {
  border: 1px solid #000;
}
.contenedor-np .preguntas {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: center;
  align-items: center;
}
.contenedor-np .preguntas ul {
  list-style-type: none;
  padding: 0;
  border: 2px solid #e5e5e5;
  border-radius: 10px;
  width: 90%;
  height: 100%;
  margin-bottom: 40px;
  text-align: center;
}
.contenedor-np .preguntas ul li {
  border-bottom: 1px solid #e5e5e5;
  padding: 15px 0;
}
.contenedor-np .preguntas ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #8b8b8b;
}
.contenedor-np .preguntas ul li a:hover {
  color: #dc090f;
}
.contenedor-np .preguntas #ultima-noticia {
  width: 50%;
  height: 100%;
  background-color: #fafafa;
}
/* Ultimas campañas */
.campanas {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.campanas h2 {
  margin-buttom: 20px;
}
.campanas .cont-campanas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 590px;
  height: 500px;
  border-radius: 10px;
  margin: 0 10px;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
  background-color: #f9f9f9;
}
/* Youtube */
.yt-seccion {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: #8f3434;
  color: #fafafa;
  height: 500px;
  margin-top: 50px;
  margin-inline: -80px;
}
.yt-seccion #cont-video {
  width: 50%;
  text-align: center;
  position: relative;
}
.yt-seccion #cont-video #video {
  height: 43%;
  width: 45%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.yt-seccion #desc-video {
  width: 50%;
  padding: 1rem;
  text-align: center;
}
.yt-seccion #desc-video h3 {
  margin-block: 50px;
}
.yt-seccion #desc-video p {
  text-align: justify;
  margin-inline: 15%;
  margin-block: 100px;
}
.yt-seccion #desc-video #sub-boton {
  background-color: #fafafa;
  color: #dc090f;
  border: none;
  border-radius: 5px;
  width: 120px;
  height: 40px;
  font-weight: bold;
  font-size: 15px;
}
/*Historias de vida*/
.hist-vida {
  display: flex;
  justify-content: center;
  gap: 300px;
}
.hist-vida .historia {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #fafafa;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  max-width: 500px;
  height: 400px;
  z-index: 1;
  margin-left: 100px;
}
.hist-vida .historia .image {
  width: 250px;
  height: 250px;
  background-color: #000;
  border-radius: 10px;
  position: absolute;
  left: -30%;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}
.hist-vida .historia .content {
  margin-left: 100px;
  flex: 1;
}
/* Ubicación */
.ubicacion {
  display: flex;
}
.ubicacion .mapa {
  margin: 10px;
  background-color: #008000;
  width: 70%;
  height: 350px;
}
.ubicacion .direccion {
  width: 30%;
  padding: 15px;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  box-sizing: border-box;
  height: 350px;
}
.ubicacion .direccion #dir {
  background-color: #fafafa;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  margin-block: 20px;
  box-sizing: border-box;
}
.ubicacion .direccion #dir h3 {
  color: #dc090f;
  margin-bottom: 10px;
}
.ubicacion .direccion #dir p {
  margin: 1px 0;
}
