color-primario = #dc090f
color-secundario = #fafafa
color-youtube = #8f3434
color-fuente = #767676
color-bordes = #e5e5e5
color-footer = #232323
radio = 16px
radio-interno = 8px

body
    background-color rgb(255, 255, 255)
    padding-inline 80px
    margin 0
    font-family Arial, Helvetica, sans-serif
h2
    color color-primario
    text-align center
    margin-block 40px

/* Barra de navegación */
.nav-head
    position fixed
    margin-inline -80px
    width 100%
    z-index: 1000;

    .info-busqueda
        display flex
        background-color: color-primario
        width 100%
        height 50px
        align-items center
        p
            color color-secundario
            margin-left 5%
            padding 0
            font-size 15px
        
        #bar-busqueda
            color: color-primario
            margin-left 40%
            margin-right 80px
            height 30px
            width 17%
            border-radius 2px
            border 0
            padding-left 10px
            
    .navbar
        display flex
        align-items center
        justify-content space-between
        padding: 10px 5%
        height: 90px
        background-color color-secundario
        border-bottom 3px solid color-primario
        
        .logo-cruz
            display flex
            align-items center
            padding 5px
            border-radius: 5px
            img
                height 90px

        .menu-container
            display flex
            flex-direction column
            align-items: flex-end
            list-style-type none

            #btn-donar
                border-radius 20px
                border none
                background-color color-primario
                color color-secundario
                padding 8px 20px
                font-weight bold
                font-size 17px
                cursor pointer
                margin-bottom 10px
                width 20%
            .menu
                display: flex;
                align-items: center
                gap: 45px
                list-style-type none

                li
                    list-style-type: none;

                a
                    text-decoration none
                    font-size 17px
                    font-weight bold
                    color color-fuente
                    &:hover
                        color color-primario

/* Contenido */
.cont-img-main
    display: flex;
    justify-content: center;
    width: 100% 
    height: 500px

    #main-img
        background-color black
        width 100%

/* Servicios */
.servicios
    display flex
    flex-direction row
    align-items center
    text-align center

    h2
        margin-bottom 20px

    .cont-servicios
        justify-content center
        align-items center
        width 400px
        height 300px
        border-radius radio
        margin 0 20px
        background-color #f9f9f9
        p
            color color-primario
            font-weight bold
        #serv-img
            background-color black
            border-radius radio
            margin 10px auto
            width 90%
            height 220px

/*Ultimas Noticias*/
.contenedor-np
    display flex
    width 100%
    height 450px
    .noticias
        display grid
        grid-template-columns 50% 50%
        gap 10px
        width 70%
        padding 10px

        .ultima-noticia
            border-radius radio
            grid-column 1 / 2
            height: 100%
            color color-fuente
            width 95%
            background-color color-secundario
            h3
                margin-left 15px

            p
                margin-left 15px
                
            #not-img-nueva
                background-color rgb(0, 0, 0)
                margin 10px auto
                width 100%
                height 300px
                border-radius radio

        .cont-noticias
            align-content center
            .li-noticias
                background-color color-secundario
                border-radius radio
                color color-fuente

                margin 10px
                padding 10px
                box-sizing border-box

                #not-img
                    background-color black
                    border-radius radio
                    margin 10px auto
                    width 100%
                    height 120px
                    h3
                        margin-left 10px

.preguntas
    display flex
    flex-direction column
    width 30%
    justify-content: center
    align-items: center
    ul
        list-style-type none
        padding 0
        border: 2px solid color-bordes
        border-radius: radio
        width: 90%
        height 100%
        margin-bottom 40px
        text-align center

        li
            border-bottom 1px solid color-bordes
            padding 15px 0
                
            a   
                text-decoration none
                font-weight bold
                color color-fuente
                &:hover
                    color color-primario

/* Ultimas campañas */
.campanas
    display flex
    flex-direction row
    align-items center
    text-align center

    h2
        margin-bottom 20px

    .cont-campanas
        display flex
        justify-content center
        align-items center
        width 590px
        height 500px
        border-radius radio
        margin 0 10px
        box-shadow 0px 4px 6px rgba(0, 0, 0, 0.1)
        background-color #f9f9f9

/* Youtube */
.yt-seccion
    display flex
    flex-wrap nowrap 
    justify-content space-between
    background-color color-youtube
    color color-secundario
    height 500px
    margin-top 50px
    margin-inline -80px

    #cont-video 
        width 50%
        text-align: center 
        position: relative
        #video
            height 43%
            width 45%
            background-color: #ffffff
            position absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            
    #desc-video 
        width 50%
        padding 1rem
        text-align center
        h3
            margin-block 50px
            font-size: 25px

        p
            text-align justify
            margin-inline 15%
            margin-block: 100px
            font-size: 25px

        #sub-boton
            background-color color-secundario
            color color-fuente
            border none
            border-radius 5px
            width 120px
            height 40px
            font-weight bold
            font-size 15px
            &:hover
                color color-primario
.hist-vida 
    display flex                
    gap 70px
    .historia
        width 500px
        display: grid
        grid-template-columns repeat(4, 1fr)
        grid-template-rows: 100px 200px 100px
        justify-content center
        gap 1em   
        height 400px

        figure
            background-color: brown
            border-radius radio
            grid-column 1 / 3
            grid-row 2 / 3
            z-index 2
            margin 0
            padding 0

        .contenido
            background-color color-secundario
            text-align justify
            box-shadow 0px 4px 6px rgba(0, 0, 0, 0.1)
            border-radius radio
            grid-column 2 / 5
            grid-row 1 / 4
            display flex
            align-items center
            padding 40%

/* Ubicación */
.ubicacion
    display flex
    .mapa
        margin 10px
        background-color: black
        width: 70%
        height 350px
        border-radius radio

    .direccion
        width 30%
        padding 15px
        justify-content: center
        align-items center
        margin 10px auto
        box-sizing border-box
        height 350px 
        #dir
            background-color color-secundario
            box-shadow 0px 4px 10px rgba(0, 0, 0, 0.2)
            border-radius radio
            width 100% 
            padding 10px
            margin-block 20px
            box-sizing border-box 
            h3
                color color-primario
                margin-bottom: 10px 

            p
                margin: 1px 0 

.footer
    background-color color-footer
    position relative
    display flex
    justify-content space-between
    align-items center
    height 90px
    color color-secundario
    margin-inline -80px

    .izquierda, .derecha
        width: 50%
        text-align center

    .izquierda
        padding-left: 10px

    .derecha
        padding-right: 10px

/* PAGE-NOTICIA */
.noticias-container
    display grid
    grid-template-columns repeat(2, 1fr)
    grid-template-rows repeat(2, auto) 
    gap 20px
    max-width 100%
    margin 0 auto

    .noti
        padding 20px
        background-color color-secundario
        border-radius radio
        text-align left
        box-shadow 0px 4px 10px rgba(0, 0, 0, 0.2);

        p
            width 100%
            display -webkit-box
            -webkit-line-clamp 3
            -webkit-box-orient vertical
            overflow hidden
            text-overflow ellipsis

    figure
        background-color color-primario
        border-radius radio-interno
        height 150px
        margin 0
        
        img
            width 100%
            height 150px
            display block
            border-radius radio-interno
        
    h2
        color color-primario
        text-align left
        padding 0
        margin 0
        margin-top 1em
        margin-bottom 0.5em

    span
        font-size 10px

.cursos
    display grid
    grid-template-columns: repeat(3, 1fr);
    gap 20px

    .contenedor-cursos
        display contents

        ul
            background-color white
            padding 10px
            list-style none
            text-align center
            margin 0